@import '../../sass-partial/mixins';

.hero {
  max-width: 1600px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: -64px;
}

.hero_mob {
  display: none;

  @include respond(md-max) {
    display: block;
    width: 100%;
    max-width: 768px;
    height: auto;
  }
}

.hero_tablet {
  display: none;

  @include respond(md-min_xl-max) {
    display: block;
    width: 100%;
    max-width: 1200px;
    height: auto;
  }
}

.hero_desktop {
  display: none;

  @include respond(xl-min) {
    display: block;
    max-width: 100%;
    height: auto;
  }
}
