@import 'normalize.css';
@import 'swiper/swiper-bundle.css';
@import 'sass-partial/reset.scss';
@import 'sass-partial/variables.scss';
@import 'sass-partial/mixins.scss';
@import 'sass-partial/placeholder.scss';

html,
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 100vw;
  @extend %inter-base;
  font-size: 16px;
  line-height: 1.15;
  margin: 0;
  padding: 0;
}

section {
  width: 100%;

  @include respond(xl-max) {
    margin-bottom: 40px;
  }

  @include respond(xl-min) {
    margin-bottom: 60px;
  }
}

Image {
  display: block;
  max-width: 100%;
  height: auto;
}

// Swiper

.swiper {
  height: 240px !important;

  @include respond(md-min) {
    height: 360px !important;
  }

  @include respond(xl-min) {
    height: 410px !important;
  }
}

// .swiper-button-next,
// .swiper-button-prev {
//   color: var(--accent-color) !important;
//   top: 40% !important;
// }

.swiper-pagination-bullet-active {
  background: var(--accent-color) !important;
}

.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 0 !important;
}

.swiper-pagination {
  position: sticky !important;
}

.swiper-slide {
  height: 200px !important;
  position: relative !important;

  @include respond(md-min) {
    height: 300px !important;
  }

  @include respond(xl-min) {
    height: 350px !important;
  }
}
