// %HoverFocus {
//   background-color: var(--secondary-bg-color);
//   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
// }

%inter-base {
  font-family: var(--font-inter), sans-serif;
}

%amaranth-base {
  font-family: var(--font-amaranth), sans-serif;
}

%philosopher-base {
  font-family: var(--font-philosopher), sans-serif;
}

%fontInter-regular {
  @extend %inter-base;
  font-weight: 400;
}

%fontInter-bold {
  @extend %inter-base;
  font-weight: 700;
}

%fontAmaranth-regular {
  @extend %amaranth-base;
  font-weight: 400;
}

%fontAmaranth-bold {
  @extend %amaranth-base;
  font-weight: 700;
}

%fontPhilosopher-regular {
  @extend %philosopher-base;
  font-weight: 400;
}

%fontPhilosopher-bold {
  @extend %philosopher-base;
  font-weight: 700;
}

%FlexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

%BackgroundGradient {
  background: linear-gradient(135deg, var(--accent-color) 0%, var(--secondary-color) 100%);
}
